<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.mapper.SkuSaleAttrValueMapper">

    <select id="getSkuValueIdsMap" parameterType="long" resultType="map">
        select  sku_id, group_concat(sale_attr_value_id order by sp.base_sale_attr_id separator '|') value_ids
            from sku_sale_attr_value sv inner join spu_sale_attr_value sp
            on sp.id=sv.sale_attr_value_id
            where sp.spu_id=#{spuId}
            group by sku_id;
    </select>
</mapper>